<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-800">
    <%- include('./partials/navbar-dashboard.ejs') %>

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
      <%- include('./partials/sidebar.ejs') %>

      <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main>
          <%- body %>
        </main>

        <% if (locals.footer && locals.footer === true) { %>
          <%- include('./partials/footer.ejs') %>
        <% } %>
        
      </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
